.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 45%
    right: 65%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 66%
    left: -55%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

// banner interno
.banner-interno__fondo
  background-image: url("../assets/curso/portada/fondo-banner-interno.jpg") !important    

.banner-interno__titulo__icono
  background-color: white !important
  
.banner-interno__titulo h2
  color: white !important 

.banner-principal__img
  align-self: center
  padding-top: 1rem !important
  padding-bottom: 0 !important

// fondos
.fondo
  &-1
    background-color: #FFF4D1
  &-2
    background-color: #B7CEAC
  &-3
    background-image: url('../assets/curso/tema1/fondo1.jpg')
    background-size: 100% auto
    background-repeat: no-repeat
    background-position: center
  &-4
    background-color: #FFD667
  &-5
    .tarjeta--gris
      background-color: #D2E1F1
  &-6
    background-image: url('../assets/curso/tema1/fondo2.jpg')
    background-size: 100% auto
    background-repeat: no-repeat
    background-position: center
  &-7
    background-image: url('../assets/curso/tema1/fondo3.jpg')
    background-size: 100% 100%
    background-repeat: no-repeat
    background-position: bottom
  &-8
    background-color: #3F6A30
  &-9
    background-color: #FAB729
  &-10
    background-image: url('../assets/curso/tema1/fondo.jpg')
    background-size: 100% 100%
    background-repeat: no-repeat
    background-position: bottom
  &-11
    background-color: #FCCF88
  &-12
    background-color: #FCEDE5
  &-13
    background-color: #F3F9FF
  &-14
    background-image: url('../assets/curso/tema1/fondo4.svg')
    background-size: 100% 100%
    background-repeat: no-repeat
    background-position: bottom
  &-15
    background-color: #FFDCA3
  &-16
    background-color: #D8EDD2
  &-17
    background-color: #FFE6A1
  &-18
    background-color: #C9ECFF
  &-19
    background-image: url('../assets/curso/tema2/fondo1.jpg')
    background-size: 100% 100%
    background-repeat: no-repeat
    background-position: bottom
  &-20
    background-image: url('../assets/curso/tema2/fondo2.jpg')
    background-size: 100% 100%
    background-repeat: no-repeat
    background-position: top
  &-21
    background-color: #fff
    border-radius: 20px
  &-22
    background-color: #D2E1F1 !important
  &-23
    background-color: #E8E8E8 !important
  &-24
    background-color: #F6F6F6 !important
  &-25
    background-image: url('../assets/curso/tema2/fondo3.jpg')
    background-size: 100% 100%
    background-repeat: no-repeat
    background-position: top
  &-26
    background-color: #EB6F2D
  &-27
    background-color: #Efefef
  &-28
    background-image: url('../assets/curso/tema3/fondo1.jpg')
    background-size: 100% 100%
    background-repeat: no-repeat
    background-position: top
  &-29
    background-image: url('../assets/curso/tema3/fondo2.jpg')
    background-size: 100% auto
    background-repeat: no-repeat
    background-position: bottom
  &-30
    background-color: #C9E4FF
  &-31
    background-color: #FFEBCB
  &-32
    background-color: #3F6A31 !important
  &-33
    background-color: #406834
  &-34
    background-color: #FFD667
  &-35
    background-color: #F2F1F1
  &-36
    background-color: #E3F5FF
  &-37
    background-image: url('../assets/curso/tema4/fondo1.jpg')
    background-size: 100% 100%
    background-repeat: no-repeat
    background-position: bottom

//borde tarjeta
.bordetarjeta
  border: 2px solid #0387D0

.sombra
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 25%)

.sombra1
  box-shadow: 2px 2px 5px 2px #7774744b


.sinsombra
  box-shadow: none

.bordenaranja
  border: 2px solid #EB6F2D

.bordesredondos
  border-radius: 20px

//titulo
.fondotitulo1
  background-color: #FFB338
  border-top-left-radius: 30px
  border-top-right-radius: 30px

//línea de tiempo
.linea-tiempo-d__item--selected .tarjeta--gris
  background-color: #D2DDCE

//texto resaltado
.resaltado
  color: #EB6F2D

//acordeón
.tarjeta.tarjeta--gris.acordion__activo
  background-color: #E8E8E8

// color esquina cajón
.cajon.fondocuadrado:before
  background-color: #4D793F

// color esquina cajón2
.cajon.fondocuadrado1:before
  background-color: #F19E72

// color esquina cajón3
.cajon.fondocuadrado2:before
  background-color: #FCC843

// expandir fondos
.ampliar
  margin-left: -60px
  margin-right: -60px

//posición de imagen
.posicion
  position: relative
  margin-top: -100px
  margin-bottom: 0
  @media (max-width: 1400px)
    margin-top: -80px
  @media (max-width: 991px)
    margin-top: -70px
  @media (max-width: 568px)
    margin-top: -50px

.margensup
  margin-top: 5em

.margensupboton
  margin-top: -70px

// fondo del subtitulo
.fondotitulo
  background-color: #FFB338
  border-radius: 20px
  padding: 15px

// Maquetación tarjeta 1.1
.anchotar
  .tarjeta-avatar .tarjeta
    margin-bottom: 20px 
    @media (min-width: 1401px)
      height: 240px
      width: 290px
    @media (max-width: 1400px)
      height: 270px
      width: 265px
    @media (max-width: 1200px)
      height: 250px
      width: 330px
    @media (max-width: 991px)
      height: 300px
      width: 230px 
    @media (max-width: 768px)
      height: 270px
      width: 100%
    @media (max-width: 576px)
      height: 240px
      width: 100%

// Maquetación tarjeta 2
.anchotar2
  .tarjeta-avatar .tarjeta
    margin-bottom: 20px 
    @media (min-width: 1401px)
      height: 380px
      width: 320px
    @media (max-width: 1400px)
      height: 420px
      width: 270px
    @media (max-width: 1200px)
      height: 400px
      width: 330px
    @media (max-width: 991px)
      height: 490px
      width: 250px 
    @media (max-width: 768px)
      height: 490px
      width: 100%
    @media (max-width: 576px)
      height: 390px
      width: 100%
    @media (max-width: 320px)
      height: 490px
      width: 100%

.tarjeta-avatar > img
  position: absolute
  left: 45%
  top: 0
  transform: translateX(-50%)
  display: block
  width: 250px
  margin: 0 auto
  @media (max-width: 1400px)
    left: 48%
    width: 230px
  @media (max-width: 1200px)
    left: 48%
    width: 260px
  @media (max-width: 991px)
    left: 46%
    width: 200px
  @media (max-width: 768px)
    left: 50%
    width: 230px
  @media (max-width: 320px)
    left: 50%
    width: 200px

.tarjeta-avatar.imagenavatar > img
  position: absolute
  left: 50%
  top: 0
  transform: translateX(-50%)
  display: block
  width: 137px
  margin: 0 auto
  @media (max-width: 1400px)
    left: 48%
    width: 137px
  @media (max-width: 1200px)
    left: 48%
    width: 137px
  @media (max-width: 991px)
    left: 46%
    width: 137px
  @media (max-width: 768px)
    left: 50%
    width: 137px

// color chevron
.fa-chevron-right:before 
  content: "\f054"
  color: #707BA3

.fa-chevron-left:before 
  content: "\f053"
  color: #707BA3

//mostrar/no mostrar imagen
.display1
  @media (max-width: 992px)
    display: none
  
.display2
  @media (min-width: 991px)
    display: none

//padding personalizado
.margen
  margin-bottom: 16.5em
  margin-top: 2em
  padding-left: 0.75em
  padding-right: 3em
  @media (max-width: 1400px)
    margin-bottom: 14.5em
    margin-top: 3em
    padding-inline: 1em
  @media (max-width: 1200px)
    margin-bottom: 13.5em
    margin-top: 5.5em
    padding-left: 0.5em
    padding-right: 1.5em
  @media (max-width: 768px)
    margin-bottom: 11em
    margin-top: 6em
    padding-inline: 0.2em
  @media (max-width: 576px)
    margin-bottom: 11em
    margin-top: 1em
    padding-left: 9.5em
    padding-right: 10em
  @media (max-width: 500px)
    margin-bottom: 11em
    margin-top: 1em
    padding-left: 8em
    padding-right: 9em
  @media (max-width: 450px)
    margin-bottom: 11em
    margin-top: 1em
    padding-left: 6em
    padding-right: 7em
  @media (max-width: 400px)
    margin-bottom: 11em
    margin-top: 1em
    padding-left: 4em
    padding-right: 5em

//imagen maquetada
.fondogrissinborde
  background-color: #E2E8E0
  border-top-right-radius: 100px

.fondogrisconborde
  background-color: #E2E8E0
  border-bottom-right-radius: 100px
  border-top: 3px solid #406834

.fondorosado
  background-color: #FFF4E1
  border-bottom-left-radius: 100px
  border-top: 3px solid #406834

.colocar
  position: relative
  margin-left: -40px
  margin-top: -40px
  z-index: 9999

.colocar2
  position: relative
  margin-left: 40px
  margin-top: -40px
  z-index: 9999

.correrizq
  margin-left: -50px

// viñeta
.fa-check:before
  content: "\f00c"
  color: #EB6F2D

//tabla
.anchocol
  width: 2% !important

.anchocol1
  width: 6% !important

.bordesup
  border-top: 2px solid #fff

.bordeizq
  border-left: 2px solid #AFAFAF !important

// cambiar orientación de bloque
.bloque-texto-g__img.cambioimg
  width: 50%
  position: absolute
  top: 0
  left: 50%
  bottom: 0
  background-position: center
  background-size: cover
  @media (max-width: 991px)
    width: 100%
    top: 0
    left: 0

.bloque-texto-g__texto.cambiotexto
  position: relative
  width: 60%
  background-color: rgba(255, 255, 255, 0.95)
  left: -40%
  @media (max-width: 991px)
    position: relative
    width: 100%
    left: 0

//icono de lupa
.fa-magnifying-glass-plus:before
  content: "\f00e"

//maquetacion dibujo 1 en capitulo 4 
.posicion1
  position: relative
  margin-left: 100px
  @media (max-width: 991px)
      margin-left: 40px
.posicion2
  position: relative
  margin-left: 10px

.posicion4
  position: relative
  margin-left: -50px
  @media (max-width: 991px)
      margin-left: -20px

.posicion5
  position: relative
  margin-left: -90px
  @media (max-width: 991px)
      margin-left: -60px

// diagrama
.mostrarmas991
  @media (max-width: 992px)
    display: none

.mostrarmenos991
  @media (min-width: 991px)
    display: none

//color de + en la infografia
.img-infografica.color-acento-contenido .img-infografica__item__numero
  color: #fff

//tamaño del punto de la infografia
.img-infografica__item__dot, .img-infografica-b__item__dot
  position: relative
  width: 100%
  padding-top: 100%

.img-infografica__item__dot:before
  width: 100%
  height: 100%

.img-infografica__item__dot:after
  width: 100%
  height: 100%

.img-infografica__item
  width: 6% !important